/* .detailcard {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
}

.productimage {
  margin-right: 1rem;
}
.productimage img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}
.producttext h2 {
  font-family: "Berkshire Swash";
  font-size: 3rem;
  margin: 0 0 0.5rem 0;
}
.producttext h5 {
  font-family: "Berkshire Swash";
  font-size: 1.5rem;
  margin: 0.5 0 0rem 0;
}
.producttext h4 {
  margin: 0;
}
.productactions {
  display: flex;
  justify-content: space-between;
}
li {
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
  max-width: 25rem;
  background: whitesmoke;
}
img {
  width: 38rem;
  height: 30rem;
  border-radius: 5%;
  object-fit: cover;
}
p {
  font-size: 1.2rem;
}
.item__data {
  display: flex;
  justify-content: space-between;
}
.item__total {
  font-weight: bold;
  margin: 1rem 0;
  border-top: 1px solid #474747;
  border-bottom: 2px solid #474747;
  padding: 0.25rem 0;
  width: auto;
} */
